<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FEFF9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>atomic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>band.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>compton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>crpa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>dmdw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>dym2feffinp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>eels.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>feff9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>fefflib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ff2x.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>fms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>genfmt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ldos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>mdff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>mkgtr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>opconsat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>path.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>pot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>rdinp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>rhorrp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>screen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>sfconv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>xsph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A045A4012975A1A00F650FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ADF4D9F1214A22200287599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE790851214B12C002E77E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE790B81214B427002E77E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE790C31214B43C002E77E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE790CE1214B44D002E77E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE790D91214B45C002E77E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE791691214B678002E77E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE791741214B68B002E77E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE7917F1214B6A8002E77E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE7918A1214B6B6002E77E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE791951214B6C3002E77E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE791A01214B6D3002E77E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE791AB1214B6E1002E77E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE791B61214B6EE002E77E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AE793A91214C1A2002E77E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E418626617445BD9002853CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E418627017445C1A002853CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E418627A17445CA6002853CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E46C193A19F6AEA0003E72C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4874747176962B90073870E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4C7173C1486DCAB0012D2E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4FFE25014842B42009711D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
